@media(max-width:992px) and (min-width:768px) {
    .navbar .nav {
        max-width: 80%;
    }

    .nav-center.navbar .nav {
        max-width: 100%;
    }
}

@media(max-width:991px) {
    .container {
        width: 100%;
    }

    .b-parallax {
        background-attachment: scroll;
    }

    #hero-bloc,
    .page-container {
        position: relative;
        overflow-x: hidden;
    }

    .bloc {
        padding-right: constant(safe-area-inset-right);
        padding-left: constant(safe-area-inset-left);
    }

    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }

    .bloc-fill-screen .fill-bloc-bottom-edge,
    .bloc-fill-screen .fill-bloc-top-edge {
        padding: 0 20px;
        padding-right: constant(safe-area-inset-right);
        padding-left: constant(safe-area-inset-left);
    }
}